/*member 1*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	font-style: 'Open Sans' sans-serif;
}

button {
	text-decoration-color: white;
	padding: 10px;
	width: 9rem;
	font-size: 1rem;
	font-weight: 600rem;
	border-color: transparent;
	border-radius: 25px;
}

/*member 2*/

nav {
	padding: 1rem;
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: white;
}

.right-nav {
	float: right;
}

nav > li	{
	list-style-type: none;
	display: inline-block;

}

.nav, .nav-logo {
	margin: 8px;
	padding: 3px;
}

/*member 3*/
#logo {
	padding-top: 8px;
	padding-left: 5px;
}

#nav-button {
	background-color: #c2195b;
}

#bg-image {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
	background-image: url(urlhttps://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	background-repeat: none;
	background-size: cover;
	background-position: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
	color: white;
}
