/*Type Selector*/
/*tag-name*/
/* !important makes the style priority over Inline Styling */
h1 {
	color: yellow !important;
}

/*Universal Selector*/
/* (*) sign means all */
/*Target all elements*/
/*Changes the font style & font size*/
*{
	font-family: "Courier New", monospace;
	font-size: 20px;
}

/*ID Selector - uses # for locating ID*/
/*#id-name*/
#zuitt-motto {
	letter-spacing: 5px;
	}

/*Class Selector - uses . for locating class*/
/*.class-name*/
.offering-item {
	text-transform: uppercase;
}

/*Adjacent Sibling Selector*/
/*1st Selector - Reference (h3)*/
/*2nd Selector - The one being changed (img)*/
/*Selector + Selector*/

h3 + img {
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

/*Descendant Selector*/
/*Selector (space) Selector*/
#bootcamp-learning-list li {
	color: #075966;
}
/*General Sibling Selector*/
/*Selector ~ Selector*/
h2 ~ a {
	text-decoration: none;
}

.modules {
	letter-spacing: 3px;
}

p {
	color: yellow;
}

#external {
 color: #FFFF00;
}
* {
	font-family: "Verdana", sans-serif;
  font-size: 20px;
}