nav a {
	color: #F2D2AE !important;
	text-align: center;
	font-size: 18px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

#navbar {
	background: #765C3D;
}

#title {
	color: #FFF;
	font-size: 64px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	line-height: 72px;
	letter-spacing: -1.28px;
}
h1 + p {
	color: #FFF;
	font-size: 24px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
}

#base {
	border-radius: 999px;
	background: #B59066;
	padding: 12px 32px;
	justify-content: center;
	align-items: center;
	color: var(--button-text-button-primary-text, #FFF);
	text-align: center;
	font-size: 20px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;

}

#landing {
	background: linear-gradient(rgba(0, 0, 0, 0.59), rgba(0, 0, 0, 0.59)), url('./images/banner.png');
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 750px;
}

#gallery + p {
	color: #765C3D;
	text-align: center;
	font-size: 24px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

#gallery {
	color: #765C3D;
	text-align: center;
	font-size: 40px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

#album1 {
	color: #765C3D;
	font-size: 40px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

#album1 + p {
	color: #765C3D;
	font-size: 24px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

#rectangle {
	background: #FFF;
	box-shadow: 0px 4px 23px 0px rgba(0, 0, 0, 0.25);
	width: 1245px;
	height: 764px;
}

.carousel-indicators li {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin-bottom: 50px;
}

#contact {
	background: #FFF2E4;
}

#contact h3 {
	color: #765C3D;
	font-size: 40px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

#contact p {
	color: #765C3D;
	font-size: 24px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.left {
	background: linear-gradient(rgba(0, 0, 0, 0.59),rgba(0, 0, 0, 0.59)), url('./images/contact.png');
	background-size: cover;
	background-repeat: no-repeat;
}

.form-group label {
	color: #B59066;
	font-size: 20px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.form-group input {
	color: #765C3D;
	font-size: 24px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

form button {
	border-radius: 999px !important;
	background: #B59066 !important;
	color: #ffffff !important;
	text-align: center;
	font-size: 20px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	line-height: 24px;
}

#footer {
	color: #FFF2E4;
	text-align: center;
	font-size: 16px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	background: #B59066;
}